<div>
    <mat-toolbar color="primary">
      <span>Ngrx Ng2</span> 
    </mat-toolbar>
  
    <mat-card>
      <button mat-raised-button color="accent">ngrxFire</button>
      <h2>{{ message$ | async }}</h2>
        <button mat-raised-button color="primary" (click)="spanishMessage()">Spanish</button>
        <button mat-raised-button color="primary" (click)="frenchMessage()">French</button>
    </mat-card>
  
    <span class="done">
      <button mat-fab>
        <mat-icon>check circle</mat-icon>
      </button>
    </span>

  </div>

